*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
.banner{
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(0,0,40,0.7),rgba(0,0,40,0.7)),url(img/banner.png);
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80%;
   margin: auto;
   padding: 35px 0;
   max-width: 1300px;
}
nav h1 a{
   color: #fff;
   text-decoration: none;
   font-size: 26px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav h1 a span{
   color: #fdd005;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   display: inline-block;
   margin-left: 25px;
}
.nav-links ul li a{
   color: #fff;
   text-decoration: none;
   font-family: 16px;
   letter-spacing: 1px;
   transition: 0.5s;
}
.nav-links ul li a:hover{
   color: #fdd005;
}
.nav-links ul li::after{
   content: '';
   width: 0;
   height: 2px;
   display: block;
   background-color: #fdd005;
   margin: auto;
   transition: 0.5s;

}
.nav-links ul li:hover:after{
   width: 100%;
}
.text-area{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   color: #fff;
   width: 100%;
}
.text-area h1{
   font-size: 55px;
}
.text-area h1 span{
   color: #fdd005;
}
.text-area p{
   font-size: 15px;
   color: #fff;
}
.btn{
   display: inline-block;
   margin-top: 20px;
   border: 1px solid #fff;
   padding: 10px 30px;
   color: #fff;
   text-decoration: none;
   transition: 1s;
}
.btn:hover{
   border: 1px solid #fdd005;
   background-color: #fdd005;
   color: #000;
}

/* ----------------about------------------ */

.about{
   width: 80%;
   max-width: 1300px;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
.about h1{
   font-size: 32px;
}
p{
   color: #777;
   font-weight: 300;
   font-size: 15px;
   padding: 10px 0;
}
.row{
   display: flex;
   justify-content: space-between;
}
.about-col{
   flex-basis: 46%;
   text-align: left;
   margin-top: 50px;
   margin-bottom: 5%;

}
.about-col img{
   width: 100%;
   border-radius: 10px;
   border: 1px solid #ddd;
}
.about-col h4{
   font-size: 20px;
}
.about-col p{
   text-align: justify;
   line-height: 24px;
}
.about-col li{
   color: #541bb1;
   line-height: 25px;
   cursor: pointer;
   list-style-type:circle;
}
.about-col li:hover{
   color: #0868c2;
   
}
.btn2{
   border: 1px solid #fdd005;
   color: #000;

}

/* -- ------------------Service--------------- */

.service{
   text-align: center;
   margin-top: 100px;
   width: 80%;
   margin: auto;
   max-width: 1300px;
}
.service-col{
   flex-basis: 28%;
   margin-top: 50px;
   border: 1px solid #ddd;
   padding: 25px 15px;
   border-radius: 10px;
   cursor: pointer;
   width: 100%;
   margin-bottom: 5%;
   background-color: #f2f2f2;
   transition: 0.5s;
}
.service-col:hover{
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.service-col h3{
   font-size: 20px;
   margin: 15px 0;
}
.service-col p{
   text-align: justify;
}

/* -------------client--------------- */

.client{
   margin-top: 100px;
   text-align: center;
   width: 80%;
   max-width: 1300px;
   margin: auto;
}
.client-col{
   flex-basis: 28%;
   text-align: left;
   border: 1px solid #ddd;
   padding: 25px 15px;
   border-radius: 10px;
   background-color: #cdd2f1;
   margin-top: 50px;
   transition: 0.5s;
   margin-bottom: 5%;
   cursor: pointer;
}
.client-col:hover{
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.client-col img{
   height:40px;
   border-radius: 50%;
}
.client-col p{
   text-align: justify;
}
.client-col h4{
   font-size: 18px;
   font-weight: 500;

}
.client-col small{
   color: #3c9af3;
   margin-top: 5px;
}

/* -------------------contact---------------- */

.contact{
   background-color: #e0ffea;
   margin-top: 100px;
   padding: 50px 0;
   text-align: center;
}
.contact-col{
   margin-top: 50px;
}
.contact-col input,textarea{
   display: block;
   width: 50%;
   margin: 30px auto;
   padding: 10px 5px;
   border: none;
   outline: none;
   font-size: 17px;
   border: 2px solid #75a4fc;
   background-color: #f2f2f2;


}
.btn3{
   background-color: #0868c2;
   border: 1px solid #0868c2;
   color: #fff;
   font-size: 18px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   transition: 0.5s;
   padding: 10px 50px;
}
.btn3:hover{
   border-top-left-radius: 0;
   border-bottom-right-radius: 0;
   border-top-right-radius: 30px;
   border-bottom-left-radius: 30px;
   
}

/* ------------footer--------------- */

footer{
   width: 80%;
   max-width: 1300px;
   margin:100px auto 20px;
   text-align: center;
}
footer h2{
   font-size: 32px;
}
.footer-col{
   margin: 50px 0;
}
.footer-col li{
   list-style-type: circle;
   text-align: left;
}
.footer-col li a{
   text-decoration: none;
   line-height: 25px;
   color: #000;
}
.footer-col li a:hover{
   color: #3c9af3;
   text-decoration: underline;
}

@media(max-width:720px){
   .row{
      display: block;
   }
   .banner h1{
      font-size: 32px;
   }
   .service{
      padding-top: 50px;
   }
   .client{
      padding-top: 50px;
   }
   .contact-col input, textarea{
      width: 90%;
      margin: 50px auto;

   }
   .footer-col{
      text-align: center;
   }
}